mods/[forge]ctov-3.4.11.jar
mods/0Pack2Reload-Forge-1.20.1-1.0.1.jar
mods/0World2Create-Universal-1.19-1.20.X-1.0.0.jar
mods/abnormals_delight-1.20.1-5.0.0.jar
mods/abridged-forge-1.20.x-1.1.1.jar
mods/acedium-0.2.7-beta.jar
mods/additionaladditions-6.0.1.jar
mods/adventurez-1.4.20.jar
mods/AI-Improvements-1.20-0.5.2.jar
mods/alexs_caves_delight-1.0.0-forge-1.20.1.jar
mods/alexscaves_torpedoes-1.0.2.jar
mods/alexscaves-2.0.2.jar
mods/alexsdelight-1.5.jar
mods/alexsmobs-1.22.9.jar
mods/AlwaysEat-5.2.jar
mods/ambientadditions-1.20.1-1.1.0.jar
mods/AmbientSounds_FORGE_v6.1.4_mc1.20.1.jar
mods/amendments-1.20-1.2.18.jar
mods/any_lanterns_1.2_1.20.1.jar
mods/appleskin-forge-mc1.20.1-2.5.1.jar
mods/Aquaculture-1.20.1-2.5.3.jar
mods/aquaculturedelight-1.1.0-forge-1.20.1.jar
mods/aquamirae_delight-1.5.1-forge-1.20.1.jar
mods/aquamirae-6.API15.jar
mods/architectury-9.2.14-forge.jar
mods/Argentina's delight 1.20.1 (3.0 beta).jar
mods/Armor of the Ages-forge-1.20.1-1.3.1.jar
mods/artifacts-forge-9.5.13.jar
mods/async-locator-forge-1.20-1.3.0.jar
mods/atmospheric-1.20.1-6.1.0.jar
mods/AttributeFix-Forge-1.20.1-21.0.4.jar
mods/autumnity-1.20.1-5.0.2.jar
mods/babyfat-1.0.0.jar
mods/BadMobs-1.20.1-19.0.4.jar
mods/bagus_lib-1.20.1-5.3.0.jar
mods/balm-forge-1.20.1-7.3.17-all.jar
mods/barbequesdelight-1.0.5.jar
mods/bbsmc_ad-1.0-1.20.1-forge.jar
mods/bclib-3.0.14.jar
mods/beautify-2.0.2.jar
mods/beekeeperhut-forge-mc1.20.1-2.0.1.jar
mods/bettas-1.1.0.jar
mods/Better_Modlist-0.1.11-all.jar
mods/better-end-4.0.11.jar
mods/better-end-cities-better-end-1.0.0.jar
mods/better-nether-9.0.10.jar
mods/bettercombat-forge-1.8.6+1.20.1.jar
mods/betterdays-1.20.1-3.1.1.1-FORGE.jar
mods/biomemakeover-FORGE-1.20.1-1.11.4.jar
mods/BiomesOPlenty-forge-1.20.1-19.0.0.94.jar
mods/blueprint-1.20.1-7.1.0.jar
mods/blueprintfix-forge-1.0.0-1.20.1.jar
mods/BOMD-Forge-1.20.1-1.1.2.jar
mods/Bookshelf-Forge-1.20.1-20.2.13.jar
mods/born_in_chaos_[Forge]1.20.1_1.6.2_chilling-horror-event.jar
mods/bountifulfares-1.2.1-1.20.1.jar
mods/bowinfinityfix-1.20.x-forge-2.6.0.jar
mods/braziliandelight-1.1.0-all.jar
mods/BrewinAndChewin-1.20.1-3.1.2.jar
mods/buzzier_bees-1.20.1-6.0.0.jar
mods/caelus-forge-3.2.0+1.20.1.jar
mods/call_of_drowner-0.1.2-forge-1.20.1.jar
mods/call_of_yucutan-1.0.13-forge-1.20.1.jar
mods/carryon-forge-1.20.1-2.1.2.7.jar
mods/casualness_delight-1.20.1-0.4n.jar
mods/cataclysmiccombat-1.4.jar
mods/caupona-1.20.1-0.4.10.jar
mods/caverns_and_chasms-1.20.1-2.0.0.jar
mods/celestial_artifacts-1.5.1.jar
mods/celestial_core-1.5.2.jar
mods/celestisynth-1.20.1-1.3.1.jar
mods/CerbonsAPI-Forge-1.20.1-1.1.0.jar
mods/chefs-delight-1.0.3-forge-1.20.1.jar
mods/Chimes-v2.0.1-1.20.1.jar
mods/chloride-FORGE-mc1.20.1-v1.5.0.jar
mods/citadel-2.6.1-1.20.1.jar
mods/cloth-config-11.1.136-forge.jar
mods/cluttered-2.1-1.20.1.jar
mods/cmeet.jar
mods/cmegs.jar
mods/collective-1.20.1-7.87.jar
mods/collectorsreap-1.20.1-1.3.3.jar
mods/combatroll-forge-1.3.3+1.20.1.jar
mods/Compat_FarmersDelight.jar
mods/configured-forge-1.20.1-2.2.3.jar
mods/Connector-1.0.0-beta.46+1.20.1.jar
mods/ConnectorExtras-1.11.2+1.20.1.jar
mods/constantmusic-forge-1.20.1-1.0.5.jar
mods/constructionwand-1.20.1-2.11.jar
mods/continuity-3.0.0+1.20.1.forge.jar
mods/convenientdecor-0.4.3.jar
mods/convivium-1.20.1-0.1.10.jar
mods/cookingforblockheads-forge-1.20.1-16.0.12.jar
mods/Corgilib-Forge-1.20.1-4.0.3.3.jar
mods/cornexpansion-forge-1.0.1.jar
mods/coroutil-forge-1.20.1-1.3.7.jar
mods/cosmeticarmorreworked-1.20.1-v1a.jar
mods/cozy_home-3.0.4-forge-1.20.1.jar
mods/CrabbersDelight-1.20.1-1.1.7d.jar
mods/cratedelight-24.11.29-1.20-forge.jar
mods/CreativeCore_FORGE_v2.12.30_mc1.20.1.jar
mods/creeperconfetti-4.3.jar
mods/creeperoverhaul-3.0.2-forge.jar
mods/crescentlib-1.0.0.jar
mods/crittersandcompanions-forge-2.2.2.jar
mods/CrockPot-1.20.1-1.0.6-release.jar
mods/ctov-beautify-compat-2.0.jar
mods/ctov-chefs-delight-compat-2.0.jar
mods/ctov-friends-and-foes-compat-2.0.jar
mods/ctov-incubation-compat-2.0.jar
mods/ctov-jellyfishing-compat-1.0.jar
mods/ctov-savage-and-ravage-compat-2.0.jar
mods/culturaldelights-0.16.2.jar
mods/cupboard-1.20.1-2.7.jar
mods/curios-forge-5.11.1+1.20.1.jar
mods/curiouslanterns-1.20.1-1.3.3.jar
mods/CustomSkinLoader_ForgeV2-14.21.1.jar
mods/DarkPaintings-Forge-1.20.1-17.0.4.jar
mods/deeperdarker-forge-1.20.1-1.3.3.jar
mods/Delightful-1.20.1-3.7.jar
mods/deltaboxlib-1.1.3.jar
mods/displaydelight-0.0.1-lite.jar
mods/dragonloot-1.1.4.jar
mods/drinkbeer-refill-1.20.1-1.0.5.jar
mods/dummmmmmy-1.20-2.0.6.jar
mods/dumplings_delight-1.2.1.jar
mods/DungeonsArise-1.20.x-2.1.58-release.jar
mods/DungeonsAriseSevenSeas-1.19.2-1.0.2-forge.jar
mods/earthmobsmod-1.20.1-10.5.0.jar
mods/ecologics-forge-1.20.1-2.2.0.jar
mods/eeeabsmobs-1.20.1-0.97-Fix.jar
mods/ElysiumAPI-1.20.1-1.0.2.jar
mods/elytraslot-forge-6.4.4+1.20.1.jar
mods/embeddium-0.3.31+mc1.20.1.jar
mods/EnchantingInfuser-v8.0.3-1.20.1-Forge.jar
mods/endergetic-1.20.1-5.0.1.jar
mods/endermanoverhaul-forge-1.20.1-1.0.4.jar
mods/endersdelight-1.20.1-1.0.3.jar
mods/EndlessBiomes 1.6.0 - 1.20.1.jar
mods/ends_delight-1.20.1-2.5.jar
mods/enigmaticaddons-1.2.2.jar
mods/enigmaticdelicacy-1.0.0.jar
mods/EnigmaticLegacy-2.30.1.jar
mods/enlightend-5.0.14-1.20.1.jar
mods/entity_model_features_forge_1.20.1-2.4.1.jar
mods/entity_texture_features_forge_1.20.1-6.2.9.jar
mods/entityculling-forge-1.7.2-mc1.20.1.jar
mods/EpheroLib-1.20.1-FORGE-1.2.0.jar
mods/Etcetera-1.20.1-1.1.3-Forge.jar
mods/EuphoriaPatcher-1.5.1-r5.4-forge.jar
mods/expandability-9.0.4.jar
mods/expandedstorage-10.2.2+1.20.1-forge.jar
mods/ExplorersCompass-1.20.1-1.3.3-forge.jar
mods/exposure-1.20.1-1.7.7-forge.jar
mods/exquisito-1.20.1-2.0.0.jar
mods/extrameat-1.0.0.jar
mods/fabric-api-0.92.2+1.11.9+1.20.1.jar
mods/fancymenu_forge_3.3.2_MC_1.20.1.jar
mods/FarmersDelight-1.20.1-1.2.7.jar
mods/farmersplus-1.0.3.jar
mods/farmersrespite-1.20.1-2.1.2.jar
mods/FarmersStructures-1.0.3-1.20.jar
mods/farmingforblockheads-forge-1.20.1-14.0.2.jar
mods/fastboot-1.20.x-1.2.jar
mods/FastFurnace-1.20.1-8.0.1.jar
mods/fastpaintings-1.20-1.2.7.jar
mods/ferritecore-6.0.1-forge.jar
mods/Festive_Delight_1.3_Forge_1.20.1.jar
mods/fishermens_trap-2.1.4.jar
mods/flowerymooblooms-forge-mc1.20.1-2.0.2.jar
mods/framework-forge-1.20.1-0.7.12.jar
mods/freecam-forge-1.2.1+1.20.jar
mods/friendsandfoes-forge-mc1.20.1-3.0.7.jar
mods/fruitsdelight-1.0.16.jar
mods/ftb-library-forge-2001.2.8.jar
mods/ftb-quests-forge-2001.4.10.jar
mods/ftb-teams-forge-2001.3.1.jar
mods/ftb-ultimine-forge-2001.1.5.jar
mods/ftb-xmod-compat-forge-2.1.2.jar
mods/ftbbackups2-forge-1.20-1.0.23.jar
mods/Galosphere-1.20.1-1.4.1-Forge.jar
mods/geckolib-forge-1.20.1-4.7.jar
mods/GeckoLibOculusCompat-Forge-1.0.1.jar
mods/gelato_galore-1.0-1.20.1.jar
mods/ghosts-1.20.1-1.1.0.jar
mods/GlitchCore-forge-1.20.1-0.0.1.1.jar
mods/gnumus_settlement_[Forge]1.20.1_v1.0.jar
mods/goblintraders-forge-1.20.1-1.9.3.jar
mods/guardvillagers-1.20.1-1.6.10.jar
mods/habitat-1.3.1.jar
mods/hamsters-forge-1.0.3-1.20.1.jar
mods/handcrafted-forge-1.20.1-3.0.6.jar
mods/Icterine-forge-1.20.0-1-1.3.0.jar
mods/IllagerInvasion-v8.0.7-1.20.1-Forge.jar
mods/ImmediatelyFast-Forge-1.3.4+1.20.4.jar
mods/immersive_aircraft-1.1.8+1.20.1-forge.jar
mods/immortalers_delight-forge-1.0.1.jar
mods/incubation-1.20.1-4.0.4.jar
mods/infwithmend-forge-1.20.x-1.0.2.jar
mods/ironfurnaces-1.20.1-4.1.6.jar
mods/ISE_LegacyRandomSource-1.0-SNAPSHOT.jar
mods/item-filters-forge-2001.1.0-build.59.jar
mods/Jade-1.20.1-Forge-11.12.3.jar
mods/Jadens-Nether-Expansion-2.2.1.jar
mods/jadensnetherexpansiondelight-1.0.2-1.20.1.jar
mods/jagmkiwis-1.20.1-1.1.1.jar
mods/jecharacters-1.20.1-forge-4.5.11.jar
mods/jei-1.20.1-forge-15.20.0.106.jar
mods/Jellyfishing-2.0.7.jar
mods/jellyfishingdelight-1.0.3.jar
mods/justenoughbreeding-forge-1.20-1.20.1-1.5.0.jar
mods/JustEnoughResources-1.20.1-1.4.0.247.jar
mods/justzoom_forge_2.0.0_MC_1.20.1.jar
mods/kaleidoscope-1.0.0.jar
mods/kebab-1.0-forge-1.20.1.jar
mods/kitchenkarrot-1.20.1-0.5.4.jar
mods/knightlib-forge-1.20.1-1.2.0.jar
mods/knightquest-forge-1.20.1-1.8.3.jar
mods/konkrete_forge_1.8.0_MC_1.20-1.20.1.jar
mods/kotlinforforge-4.11.0-all.jar
mods/kubejs-forge-2001.6.5-build.16.jar
mods/kubejsdelight-1.1.2.jar
mods/L_Enders_Cataclysm-2.46- 1.20.1.jar
mods/largemeals-1.20.1-1.3.0.jar
mods/latiaocraft2-forge-1.20.1-1.0.5.jar
mods/legendarymonsters-1.6.2 MC 1.20.1.jar
mods/letsdo-API-forge-1.2.15-forge.jar
mods/letsdo-bakery-forge-2.0.3.jar
mods/letsdo-beachparty-forge-1.1.5.jar
mods/letsdo-brewery-forge-2.0.3.jar
mods/letsdo-candlelight-forge-2.0.2.jar
mods/letsdo-farm_and_charm-forge-1.0.4.jar
mods/letsdo-herbalbrews-forge-1.0.10.jar
mods/letsdo-nethervinery-forge-1.2.16.jar
mods/letsdo-vinery-forge-1.4.37.1.jar
mods/libraryferret-forge-1.20.1-4.0.0.jar
mods/lionfishapi-2.4-Fix.jar
mods/lithostitched-forge-1.20.1-1.4.jar
mods/lootjs-forge-1.20.1-2.12.0.jar
mods/lootr-forge-1.20-0.7.35.90.jar
mods/luncheon-meat-s-delight-1.0.4-forge-1.20.1.jar
mods/MagnumTorch-v8.0.2-1.20.1-Forge.jar
mods/makit_better-1.20.1-1.0.1.jar
mods/manors_bounty-0.2.11.jar
mods/mcw-bridges-3.0.0-mc1.20.1forge.jar
mods/mcw-doors-1.1.1forge-mc1.20.1.jar
mods/mcw-fences-1.1.2-mc1.20.1forge.jar
mods/mcw-stairs-1.0.0-1.20.1forge.jar
mods/mcw-windows-2.3.0-mc1.20.1forge.jar
mods/meetyourfight-1.20.1-1.4.3.jar
mods/melody_forge_1.0.3_MC_1.20.1-1.20.4.jar
mods/midashunger-2.2.1+1.20-forge.jar
mods/midnightlib-forge-1.4.1.jar
mods/mineraldelight-1.5.jar
mods/miners_delight-1.20.1-1.2.3.jar
mods/MissingWilds-forge-1.2.1+1.20.1.jar
mods/MobLassos-v8.0.1-1.20.1-Forge.jar
mods/mobtimizations-forge-1.20.1-1.0.0.jar
mods/modernfix-forge-5.20.2+mc1.20.1.jar
mods/ModernUI-Forge-1.20.1-3.11.1.6-universal.jar
mods/mokels bossfight kinora 1.0.jar
mods/mokels_bossfight_saphyra-2.0.2-forge-1.20.1.jar
mods/moonlight-1.20-2.13.56-forge.jar
mods/More Wandering Trades 1.0.0 - 1.20.1.jar
mods/moredelight-25.01.13-1.20-forge.jar
mods/moremobvariants-forge+1.20.1-1.3.0.1.jar
mods/MouseTweaks-forge-mc1.20.1-2.25.1.jar
mods/mowziesmobs-1.7.0.jar
mods/muffins-thai-delight-forge-1.0.0.jar
mods/Mutated-Items-3.0.0-forge-1.20.1.jar
mods/MyNethersDelight-1.20.1-0.1.7.5.jar
mods/mythicmounts-20.1-7.4.2-forge.jar
mods/Nameless Trinkets-1.20.1-1.8.3.jar
mods/NaturesCompass-1.20.1-1.11.2-forge.jar
mods/neapolitan-1.20.1-5.0.0.jar
mods/nether-s-exoticism-1.20.1-1.2.9.jar
mods/netherdepthsupgrade-3.1.5-1.20.jar
mods/noisium-forge-2.3.0+mc1.20-1.20.1.jar
mods/Not Enough Recipe Book-FORGE-0.4.1+1.20.1.jar
mods/notrample-1.20.1-1.0.1.jar
mods/obscure_api-15.jar
mods/oceanic_delight-1.0.3-forge-1.20.1.jar
mods/OctoLib-FORGE-0.4.2+1.20.1.jar
mods/oculus-mc1.20.1-1.8.0.jar
mods/Oh-The-Biomes-Weve-Gone-Forge-1.5.4.jar
mods/Oh-The-Trees-Youll-Grow-forge-1.20.1-1.3.4.jar
mods/open-parties-and-claims-forge-1.20.1-0.24.0.jar
mods/OverflowingBars-v8.0.1-1.20.1-Forge.jar
mods/overweightfarming-1.20.1-2.1.0-forge.jar
mods/packetfixer-forge-1.4.3-1.19-to-1.20.1.jar
mods/PasterDream-forge1.20.1-beta0.3.5-7.jar
mods/Patchouli-1.20.1-84-FORGE.jar
mods/Pati_structures_1.3.0_forge_1.20.jar
mods/peculiars-1.20.1-5.0.0.jar
mods/phantasmic-1.20.1-0.2.5.jar
mods/PineappleDelight-Forge-1.20-1.0.8-Fix2.jar
mods/Placebo-1.20.1-8.3.7.jar
mods/player-animation-lib-forge-1.0.2-rc1+1.20.jar
mods/plushie_buddies-0.1.2-1.20.1.jar
mods/polylib-forge-2000.0.3-build.143.jar
mods/polymorph-forge-0.49.8+1.20.1.jar
mods/prefab-1.10.0.1.jar
mods/projectile_damage-forge-3.2.2+1.20.1.jar
mods/PuzzlesLib-v8.1.25-1.20.1-Forge.jar
mods/quark_delight_1.0.0_forge_1.20.1.jar
mods/Quark-4.0-460.jar
mods/radiantgear-forge-2.2.0+1.20.1.jar
mods/radiation_zone-1.20.1_forge-1.1.4.jar
mods/ramadandelight-1.0.jar
mods/reactivemusic-1.0.3+1.20.1.jar
mods/redirected-forge-1.0.0-1.20.1.jar
mods/refinedstorage-1.12.4.jar
mods/refinedstorageaddons-0.10.0.jar
mods/RegionsUnexploredForge-0.5.6+1.20.1.jar
mods/relics-1.20.1-0.8.0.7.jar
mods/resourcefulconfig-forge-1.20.1-2.1.2.jar
mods/resourcefullib-forge-1.20.1-2.1.29.jar
mods/rhino-forge-2001.2.3-build.10.jar
mods/Ribbits-1.20.1-Forge-3.0.4.jar
mods/right-click-harvest-3.2.3+1.20.1-forge.jar
mods/RSInfinityBooster-1.20.1-1.0+41.jar
mods/rubidium-extra-0.5.4.4+mc1.20.1-build.131.jar
mods/rustic_engineer-1.20.1-1.0.9.jar
mods/rusticdelight-forge-1.20.1-1.4.0.jar
mods/savage_and_ravage-1.20.1-6.0.0.jar
mods/scg-vefc.jar
mods/seasonals-1.20.1-5.0.2.jar
mods/SeedDelight-NeoorForge-1.20.1-1.0.1.jar
mods/SereneShrubbery-1.20.1-v2.0.0.jar
mods/sherdsapi-neoforge-1.20.1-4.0.4.jar
mods/silentsdelight-forge-1.0.1-1.20.1.jar
mods/simplehats-forge-1.20.1-0.3.2.jar
mods/simplyswords-forge-1.56.0-1.20.1.jar
mods/Skay's Overworld Netherite RELEASE 1.20.1 Forge.jar
mods/Slime_Delight-1.20.1_forge-1.1.0.jar
mods/Sniffer's delicacies 1.20.1 v1.5.jar
mods/solcarrot-1.20.1-1.15.1.jar
mods/sophisticatedbackpacks-1.20.1-3.23.5.1200.jar
mods/sophisticatedcore-1.20.1-1.2.14.875.jar
mods/soulslike-weaponry-1.1.5-1.20.1-forge.jar
mods/Spawn-1.20.1-1.0.2.jar
mods/Species-1.20.1-2.3-forge.jar
mods/stalwart-dungeons-1.20.1-1.2.8.jar
mods/starlight-1.1.2+forge.1cda73c.jar
mods/sunflowerdelight-1.20.1-1.0.4.jar
mods/supermartijn642corelib-1.1.18-forge-mc1.20.1.jar
mods/supplementaries-1.20-3.1.12.jar
mods/tact-1.2.3+1.20.1.jar
mods/takesapillage-1.0.3-1.20.1.jar
mods/tanukidecor-20.1.1.0.jar
mods/tarotcards-1.20-1.7.0.jar
mods/Tea-the-Story-Recount-1.20.1-forge-0.4.jar
mods/TerraBlender-forge-1.20.1-3.0.1.7.jar
mods/terramity-0.9.8-forge-1.20.1.jar
mods/the_bumblezone-7.5.13+1.20.1-forge.jar
mods/The_Graveyard_3.1_(FORGE)_for_1.20.1.jar
mods/The_Undergarden-1.20.1-0.8.14.jar
mods/TitleScreenMobs-0.2.1-1.20.1-forge.jar
mods/totw_modded-forge-1.20.1-1.0.5.jar
mods/touhoulittlemaid-1.20.1-release-1.1.14.jar
mods/traderefresh-2.4.5.jar
mods/trailandtales_delight-0.3.1-all.jar
mods/trashslot-forge-1.20-15.1.1.jar
mods/TravelersTitles-1.20-Forge-4.0.2.jar
mods/Twigs-1.20.1-3.1.0.jar
mods/twilightdelight-2.0.13.jar
mods/twilightforest-1.20.1-4.3.2508-universal.jar
mods/txnilib-forge-1.0.22-1.20.1.jar
mods/ubesdelight-forge-1.20.1-0.3.2.jar
mods/ultramarine-1.20.1-0.2.1.jar
mods/undergardendelight-1.1.1-forge-1.20.1.jar
mods/untameddelight-1.20.1-1.1.0.jar
mods/untamedwilds-1.20.1-4.0.4.jar
mods/unusualfishmod-1.1.8.jar
mods/upgrade_aquatic-1.20.1-6.0.2.jar
mods/useless-sword-1.20.1-V1.4.2.jar
mods/VanillaCookbook-2.2.2.jar
mods/verdantvibes-1.0.3-1.20.1.jar
mods/vintagedelight-0.1.6.jar
mods/visuality-forge-2.0.2.jar
mods/voidz-1.0.11.jar
mods/wab-1.20-1.1.2.jar
mods/wandering-bags-1.20.1-2.0.7.jar
mods/wardrobe-1.0.3.1-forge-1.20.1.jar
mods/watut-forge-1.20.1-1.1.3.jar
mods/waystones-forge-1.20-14.1.7.jar
mods/Xaeros_Minimap_25.0.0_Forge_1.20.jar
mods/XaerosWorldMap_1.39.2_Forge_1.20.jar
mods/YetAnotherConfigLib-3.6.2+1.20.1-forge.jar
mods/youkaishomecoming-2.3.2.jar
mods/YungsApi-1.20-Forge-4.0.6.jar
mods/Zeta-1.0-24.jar
